<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="kernel.js"></script>
</head>

<!--Привязываем блок к ангуляр модулю-->
<body ng-app="app">

<!--Привязываем внутренний блок к контроллеру-->
<div ng-controller="main">
    <div class="page-header" align="center">
        <h1>Добро пожаловать на сайт!</h1>
    </div>
    <div class="page-header" align="center">
        <div class="jumbotron">
            <p align="center">{{head.desc || 'Вам подходит книга!'}}</p>
                <p class="btn-group" role="group" aria-label="...">
                    <button ng-repeat="(desc,answer) in head.answers" class="btn btn-default" ng-click="selectAnswer(answer)">{{desc}}</button>
                </p>
                <br>
                <div align="center">
                    <button class="btn btn-default" ng-click="resetAnswers()"><strong>Сброс</strong></button>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">Вам подходят такие книги</div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="" ng-repeat="book in filteredBooks()" ng-click="selectBook(book)" class="list-group-item">{{book.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Информация</div>
                <div class="panel-body" ng-hide="!selectedBook.name">
                    <div class="row">
                        <div class="col-md-10">
                            <h2><small>{{selectedBook.author}} - </small>{{selectedBook.name}}</h2>
                        </div>
                        <div class="col-md-2">
                            <a class="thumbnail">
                                <img ng-src="images/img{{selectedBook.id}}.JPG">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body" ng-show="!selectedBook.name">
                    Книга не выбрана
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>